body {
  font-family: roboto;
  margin: 0;
  color: #f9faf8;
}

.first-section {
  background-color: #1f2937;
  padding: 30px 200px 100px;
}
.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  align-items: flex-end;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: end;
  gap: 20px;
}
.nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #f9faf8;
}

.welcome h1 {
  font-size: 48px;
  font-weight: 900;
}
.welcome p {
  font-size: 18px;
  width: 600px;
}
.btn {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.image {
  padding-top: 60px;
}

.second-section {
  background-color: white;
  color: #1f2937;
}
.info-section h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 900px;
}
.info-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid blue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.box h3 {
  font-size: 20px;
  font-weight: 20px;
  padding: 40px;
}
.info-cards p {
  margin-top: 5px;
  font-size: 20px;
  padding: 40px;
}
.third-section {
  padding: 10px;
  margin: 10px;
  border: 10px;
  background-color: #e5e7eb;
}
.quote p {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300px;
}
.last-section {
  background-color: white;
}
.discover h3 {
  display: flex;
  justify-content: start;
  font-size: 20px;
  font-weight: 100px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-self: self-end;
  background-color: #3882f6;
  padding: 100px;
  margin: 20px;
  border: 10px;
}
.btn {
  color: white;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 10px;
  border: solid white;
}
