body {
  font-family: roboto;
  margin: 0;
  color: #f9faf8;
}

.first-section {
  background-color: #1f2937;
  padding: 30px 200px 100px;
}
.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  align-items: flex-end;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: end;
  gap: 20px;
}
.nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #f9faf8;
}

.welcome h1 {
  font-size: 48px;
  font-weight: 900;
}
.welcome p {
  font-size: 18px;
  width: 600px;
}
.btn {
  background-color: #3882f6;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.image {
  padding-top: 60px;
}
.info-section {
}
.info-card {
  flex-wrap: wrap;
}
